// Colors - https://github.com/olimorris/onedarkpro.nvim

themes {
    onedarkpro {
        fg "#B4B7CF"
        bg "#222435"
        black "#222435"
        red "#E16765"
        green "#75BE78"
        yellow "#EAE852"
        blue "#25ABE4"
        magenta "#c678dd"
        cyan "#46A3AF"
        white "#B4B7CF"
        orange "#EAA041"
    }
}
